body{
    width: 100%;
}
#banner{
    width: 100%;
    height: 500px;
    background-image: url("../fileanh/images.jpg");
    border-radius: 100px;
}
#banner .banner-top{
    height: 100px;
}
#banner .banner-top img{
    display: block;
    border-radius: 60px;
    margin: 0 auto;
    transform: translateY(50%);
}

#banner .banner-center {
    height: 100px;
    text-align: center;
}
#banner .banner-center h2{
    margin:0;
}
#banner .banner-center h5{
    margin: 0;
}
#banner .banner-bottom{
    height: 200px;
    text-align: center;
    margin: 0;
}
@media screen and (max-width: 600px) {
    body{
        width: 100%;
    }
    #banner{
     width: 100%;
    }
    #image-one .image img{
        height: 150px;
    }
    #image-one{
        width: 100%;
        height: 305px;
    }
    #image-one .image {
        width: 80%;
    }
    #image-one .image p{
        width: 100%;
    }
    #image-tow{
        width: 100%;
    }
    #image-tow .image {
        width: 80%;
    }
    #image-tow .image p{
        width: 100%;
    }
    #image-three{
        width: 100%;
    }
    #image-three .image {
        width: 80%;
    }
    #image-three .image p{
        width: 100%;
    }
    #footer .footer-header{
        width: 100%;
    }
    #footer .footer-header .footer-header-child{
        width: 40%;
    }
    #footer .footer-header .footer-header-child .a{
        font-size: 12px;
        padding: 8px 25px;
    }
    #footer .footer-header-child h1{
        font-size: 25px;
    }
    #footer .footer-header .footer-header-child p{
        padding :10px 0;
    }
    #footer .btn-three .include .left .table{
        top:7%;
    }
    #footer .btn-three .include .left .table .td img{
        width: 20px;
        height: 20px;
    }
    #footer .btn-three .include .right .support .p  p{
        font-size: 20px;
    }
    #footer .btn-three .include .right .support .p img{
        width: 20px;
        height: 20px;
    }
}
#menu{
    margin: 0 auto;
    height: 250px;
    position: relative;
    width: 100%;

}
.topic{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;

}
#menu .topic .main-menu{
    list-style: none;
    position: relative;
    margin: 0;
    padding: 0;
    width: 80%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
}
.topic .main-menu li{
    float: left;
    /*height: 50px;*/
    line-height: 50px;
}
.topic .main-menu a{
    color: black;
    font-size: 18px;
    display: block;
    text-decoration: none;
}
.topic .main-menu a:hover{
    background: antiquewhite;
}
#menu .text{
    width: 100%;
    position: absolute;
    top: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
#image-one{
    width: 100%;
    position: relative;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
#image-one .image .a{
    transform: rotate(90deg);
    width: 100px;
    height: 10px;
    position: absolute;
    line-height: 10px;
    left: -500px;
    top: 445px;
    font-size: 10px;
    color: red;
}

#image-one .image{
    width: 80%;
    /*background: yellow;*/
    height: 350px;
    float: left;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#image-one .image img{
    width: 100%;
    height: 245px;
}
#image-tow{
    width: 100%;
    position: relative;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#image-tow .image{
    width: 80%;
    height: 350px;
    float: left;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#image-tow .image img{
    width: 100%;
    height: 245px;
}

#image-three{
    width: 100%;
    position: relative;
    height: 350px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#image-three .image{
    width: 80%;
    /*background: yellow;*/
    height: 350px;
    float: left;
    position: relative;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#image-three .image img{
    width: 100%;
    height: 245px;
}
#space{
    width: 1349px;

    float: left;
    height: 200px;
}
#footer{
    width: 100%;
    height: 700px;

}
#footer .footer-header{
    width: 100%;
    height: 300px;
    /*border: 1px solid #000000;*/
    background-image: url("../fileanh/images.jpg");

    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}
#footer .footer-header .footer-header-child{
    text-align: center;
    /*color: white;*/
    padding-top: 10px;
    width: 40%;
    /*border: 1px solid black;*/
}
#footer .footer-header .footer-header-child p{
    margin-top:10px;
    margin-bottom: 30px;
}
#footer .footer-header .footer-header-child a{
    border: 3px solid white;
    box-sizing: border-box;
    padding: 10px 140px;
    font-size: 24px;
    color: white;
    text-decoration: none;
}
#footer .footer-header-child .a{
    /*width: 200px;*/
}
/*#footer .footer-header .a{*/
/*    transform: rotate(90deg);*/
/*    !*border: 1px solid black;*!*/
/*    width: 20px;*/
/*    height: 10px;*/
/*    line-height: 10px;*/
/*    position: absolute;*/
/*    font-size: 10px;*/
/*    left: 55px;*/
/*    top: 81px;*/
/*}*/
#footer .footer-bottom {
    background-color: dimgrey;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
}
/*.clearfix::before{*/
/*    content: "";*/
/*    clear: both;*/
/*    display: inline-block;*/
/*}*/
#footer .footer-bottom .btn-one{
    display: flex;
    justify-content: center;
}
#footer .footer-bottom .btn-button{
    width: 90%;
    height: 150px;
    /*background-color: red;*/
    display: flex;
    justify-content: space-between;
    /*border: 1px solid #000000;*/
    float: left;
}
#footer .footer-bottom .btn-button .button{
    width: 30%;
    height: 60px;
    /*border: 1px solid #000000;*/
    box-sizing: border-box;
    position: relative;
    top: 70px;
}

#footer .footer-bottom .btn-one a{
    border: 3px solid white;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    text-align: center;
    position: absolute;
    padding-top: 15px;
    color: white;
    font-size: 20px;
    text-decoration: none;

}
#footer .btn-tow .btn-button-tow{
    display: flex;
    justify-content: center;
}
#footer .btn-tow .btn-button-tow .btn{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
}
#footer .btn-tow .btn-button-tow .btn a{
    width: 90%;
    height: 60px;
    box-sizing: border-box;
    border: 3px solid white;
    text-align: center;
    /*padding-top: 15px;*/
    color: white;
    font-size: 20px;
    text-decoration: none;
}
#footer .btn-three {
    display: flex;
    justify-content: center;
}
#footer .btn-three .include{
    width: 90%;
    height:  300px;
    position: relative;
    display: flex;
    flex-direction: row;
    background-image: url("../fileanh/image.png");
    background-color: dimgrey;
}
#footer .btn-three .include .left{
    width: 50%;
    height: 300px;
    display: flex;
    justify-content: center;
    position: relative;
    box-sizing: border-box;
}
#footer .btn-three .include .left .table{
    position: absolute;
    top: 7%;
    box-sizing: border-box;
    color: black;
    border-collapse: collapse;
    border: 2px solid black;
    width: 50%;
    height: 200px;
    font-size: 15px;
}
#footer .btn-three .include .left .table img{
    width: 30px;
    height: 30px;
}
#footer .btn-three .include .left .table .row {
    color: black;
    background: white;
    border-bottom: hidden;
}
#footer .btn-three .include .left .td{
    width: 45px;
    height: 50px;
    box-sizing: border-box;
    text-align: center;
    border-right: 1px solid black;
    border-bottom: 2px solid black;
}
#footer .btn-three .include .right {
    width: 50%;
    height: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
}

#footer .btn-three .include .right .aaaa {
    position: absolute;
    top: 20%;
}
#footer .btn-three .include .right .content{
    /*display: flex;*/
    /*flex-direction: row;*/
    width: 80%;
    height: 60px;
    float: left;
}
#footer .btn-three .include .right .content p{
    font-size: 30px;
    margin: 0 auto;
    float: left;
    padding-left: 20px;
}
#footer .btn-three .include .right .address{
    width: 80%;
    height: 100px;
    float: left;
}
#footer .btn-three .include .right .support{
    width: 80%;
    height: 40px;
    float: left;
}
@media screen and (max-width: 600px){

    #footer .btn-three .include .right .support .p  p{
        font-size: 20px;
    }
    #footer .btn-three .include .right .support .p img{
        width: 20px;
        height: 20px;
    }
}
#footer .btn-three .include .right .support  p{
    float: left;
    font-size: 40px;
    margin: 0 10px;
    box-sizing: border-box;
}
#footer .btn-three .include .right .support img{
    width: 46px;
    height: 46px;
    float: left;
}
.footer-bottom .footer {
    width: 1349px;
    height: 50px;
    /*background: red;*/
    display: flex;
    justify-content: center;
}
.footer-bottom .footer .footer-topic{
    width: 1000px;
    height: 50px;
    /*background: green;*/
}
.footer-bottom .footer .footer-topic .main-menu{
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0 ;
}
.footer-bottom .footer .footer-topic .main-menu li{
  line-height: 50px;
}
.footer-bottom .footer .footer-topic .main-menu a{
    text-decoration: none;
    color: white;
}
.footer-bottom .footer .footer-topic .main-menu a:hover{
    background: black;
}

